.grid {
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];
}
  
.grid > * {
  grid-column: main ;
}
  
.grid > .full {
  grid-column: full;
}

@media (max-width: 640px) {
  .grid > * {
    grid-column: main ;
    padding-left: 20px;
    padding-right: 20px;
  }
}